$font:    Helvetica, sans-serif;
$color: black ; 
$lightgrey : lighten(black, 70%);

body{
    font: $font ; 
    color :$color ; 
    background :grey ; 
}

p{
    font:$font;
    color:$color;
    text-decoration: none ; 
}
.toptab{
    border : solid white ;
    border-width: 1px ; 
}
button {
    border: none ;
    background: none ; 
}

#rec {
    margin-top : 5px ; 
    border-bottom: solid $lightgrey ; 
    border-width: 1px;
}